<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={%static 'styles/pricing.css' %} />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Our Plans For Your Strategy</h1>
      <p class="heading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora alias
        error at odio. Quisquam pariatur in vitae animi facilis commodi!
      </p>
      <div class="billing">
        <h4>Billing Monthly</h4>
        <!-- 
      <span>Billing Yearly</span> -->
      </div>
      <div class="pricings">
        <div class="category">
          <h2>Silver Plan</h2>
          <h3>₹1000/month</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <ul>
            <li>General Exercise</li>
            <li>5 classes/week</li>
            <li>No personal training</li>
          </ul>
          <a href=""><button>BUY NOW</button></a>
        </div>
        <div class="category">
          <h2>Gold Plan</h2>
          <h3>₹1000/month</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
          <ul>
            <li>General Exercise</li>
            <li>5 classes/week</li>
            <li>No personal training</li>
          </ul>
          <a href=""><button>BUY NOW</button></a>
        </div>
        <div class="category">
          <h2>Diamond Plan</h2>
          <h3>₹1000/month</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
          <ul>
            <li>General Exercise</li>
            <li>5 classes/week</li>
            <li>No personal training</li>
          </ul>
          <a href=""><button>BUY NOW</button></a>
        </div>
      </div>
    </div>
  </body>
</html>